body {
    background-color: whitesmoke;
}

.content_flex {
    display: flex;
}

.global-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

.content_scroll {
    overflow-y: scroll;
    height: 426px;
}

.created_at {
    text-align: right;
}

footer {
    margin-top: 10px;
    text-align: end;
    padding: 5px 20px 0px 0px;
    font-size: 16px;
    color: black;
    opacity: 0.6;
    font-weight: bold;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.submit_button {
    font-size: 17px;
    font-weight: bold;
}

.text-overflow-wrap {
    width:100%;
    overflow-wrap: break-word;
}

@media (max-width: 639px) {
    .content_flex {
        display: initial;
    }

    .width-50 {
        width: 100%;
    }

    .flex-between {
        display: block;
    }
}
