body {
    background-color: whitesmoke;
}

#genre_id, #registered_at {
    color: #6a7380;
}

.content_flex {
    display: flex;
}

.global-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.width-36 {
    width: 36%;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}


.created_at {
    text-align: right;
}

footer {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: end;
    padding: 5px 20px 0px 0px;
    font-size: 16px;
    color: black;
    opacity: 0.6;
    font-weight: bold;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1023px) {
    .content_flex {
        display: initial;
    }

    .flex-between {
        display: block;
    }

    .width-36 {
        width: 100%;
    }

    .width-50 {
        width: 100%;
    }

    .flex-between {
        display: block;
    }
}

.submit_button {
    font-size: 17px;
    font-weight: bold;
}

.wait {
    display: none;
}

.text-overflow-wrap {
    width:100%;
    overflow-wrap: break-word;
}

@media (max-width: 639px) {
    .content_flex {
        display: initial;
    }

    .width-36 {
        width: 100%;
    }

    .width-50 {
        width: 100%;
    }

    .flex-between {
        display: block;
    }

    .created_at {
        text-align: initial;
    }
}

.login_logo {
    width: 20% !important;
    margin: 0 auto;
}

.content_scroll {
    overflow-y: scroll;
    height: 465px;
}

.content_scroll::-webkit-scrollbar {
    display: none;
}

