.global-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.samples {
    width: 100%;
    display: flex;

    .graph_row {
        width: 100%;
    }

    .right {
        margin-right: 40px;
    }

    canvas {
        margin-top: 50px;
    }
}

.samples.bottom {
    margin-bottom: 50px;
}

h1.graph_title {
    text-align: center;
    margin-top: 20px;
}

.content_flex {
    display: flex;
    justify-content: space-between;
}

.search_flex {
    display: flex;
}
