#calendar {
    height: 592px;
}

.search_flex {
    display: flex;
}

.calendar_width {
    padding: 20px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 8px;
}

@media (max-width: 639px) {
    .search_flex {
        display: initial;
    }

    .calendar_width {
        width: 100%;
    }
}

.schedule_height {
    height: 453px;
}

.content_scroll {
    overflow-y: scroll;
    height: 465px;
}

.schedule_title {
    text-overflow: ellipsis;
    white-space: nowrap;
}

